<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <div-col size="11">
            <img src="../../assets/images/icons/logoIG.jpg" alt="Logo de Instagram"/>
          </div>
          <div-col size="1">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-icon ios="ios-add-circle-outline"></ion-icon>
            <ion-icon name="heart-outline"></ion-icon>
            <ion-icon ios="ios-header-outline"></ion-icon>
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <ion-icon ios="ios-chatbubbles-outline"></ion-icon>
          </div>
        </ion-row>
      </ion-grd>
           </ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>

  <>

</ion-grid>
