<ion-header>
  <ion-toolbar>
    <ion-title class="name"><b>ruffles</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row class="usuario">

    <ion-col>
      <img src="../../assets/images/imagenes/imagenes/avatar.jpg" alt="Foto de perfil"/>
    </ion-col>
      
    <ion-col class="datos">
      <ion-label class="bold">9</ion-label>
      <br>
      <ion-label class="popular" >Posts</ion-label>
    </ion-col>

    <ion-col class="datos">
      <ion-label class="bold">10000</ion-label>
      <br>
      <ion-label class="popular">Followers</ion-label>
    </ion-col>

    <ion-col class="datos">
      <ion-label class="bold">67</ion-label>
      <br>
      <ion-label class="popular">Following</ion-label>
    </ion-col>

  </ion-row>

  <ion-row class="description">

    <ion-col>

      <ion-label class="name">ruffles</ion-label>
      <ion-label id="descripName">Lorem ipsum dolor sit amet consectetur adipicsing elit sed do eiusmod tempur incididunt <a href="#">#hashtag</a></ion-label>

      <ion-label id="descripName"><a href="#">Link aqui</a></ion-label>

    </ion-col>

    <button class="boton">Edit Profile</button>

  </ion-row>

  <ion-grid class="images">
    
    <ion-row>

      <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 1.jpg" alt="Post 1"/>
      </ion-col>

      <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 2.png" alt="Post 2"/>
      </ion-col>
      
      <ion-col>
         <img src="../../assets/images/imagenes/imagenes/Post 3.png" alt="Post 3"/>
      </ion-col>

    </ion-row>

    <ion-row>

       <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 4.png" alt="Post 4"/>
      </ion-col>

      <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 5.png" alt="Post 5"/>
      </ion-col>

      <ion-col>
         <img src="../../assets/images/imagenes/imagenes/Post 6.png" alt="Post 6"/>
      </ion-col>

    </ion-row>

    <ion-row>
      
       <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 7.png" alt="Post 7"/>
      </ion-col>

      <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 8.png" alt="Post 8"/>
      </ion-col>

      <ion-col>
         <img src="../../assets/images/imagenes/imagenes/Post 9.png" alt="Post 9"/>
      </ion-col>

    </ion-row>

    <ion-row>
      
       <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 10.png" alt="Post 10"/>
      </ion-col>

      <ion-col>
        <img src="../../assets/images/imagenes/imagenes/Post 11.png" alt="Post 11"/>
      </ion-col>

      <ion-col>
         <img src="../../assets/images/imagenes/imagenes/Post 12.png" alt="Post 12"/>
      </ion-col>

    </ion-row>
  
  </ion-grid>

</ion-grid>
